<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>

	<log4net>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="ConsoleAppender" />
			<appender-ref ref="FileAppender" />
		</root>

		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>

		<appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="C:\home\App001\Logs/application.log" />
			<encoding value="utf-8" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="1MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>
	</log4net>
	
	<appSettings>
		<!-- 起動時に表示したいウィンドウのクラス名を指定 -->
		<add key="StartupWindow" value="MainWindow" />

		<!--
			画面で選択できる文字コード・照合順序・SQLファイル文字コードです。
			「内部値|表示名」をセミコロンで区切って指定します。
			候補を追加・変更した場合は、アプリケーションを再起動してください。
		-->
		<add key="CharacterSetOptions"
			 value="utf8mb4|UTF-8（utf8mb4）;utf8|UTF-8（utf8）;latin1|Latin-1;ujis|EUC-JP;sjis|Shift_JIS" />
		<add key="CollationOptions"
			 value="utf8mb4_ja_0900_as_cs|日本語・大文字小文字区別;utf8mb4_ja_0900_as_ci|日本語・大文字小文字無視;utf8mb4_unicode_ci|Unicode・大文字小文字無視;utf8mb4_bin|バイナリ比較;Japanese_CI_AS|SQL Server 日本語・大文字小文字無視;Japanese_CS_AS|SQL Server 日本語・大文字小文字区別" />
		<add key="SqlFileEncodingOptions"
			 value="Utf8Bom|UTF-8（BOM付き）;Utf8NoBom|UTF-8（BOMなし）;ShiftJis|Shift_JIS;Utf16|UTF-16" />
	</appSettings>


</configuration>
